body{
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    color: teal
}

.list{
    padding: 0;
    list-style-type: none;
}

.list-item{
    list-style: none;
    border: transparent solid 1px;
    padding: 1em;
    margin: 1rem;
 }

.list-item:hover{
   border: teal solid 1px;
   cursor: pointer;
}

.list-item-title{
    font-weight: bold;
    color: teal;
}